h1 {
    color: red;
}

/* 2 - sintaxe */

@media screen and (max-width: 500px) {

    /* max width = telas menores que alguma resolucao */

    h1 {
        color: blue;
    }

}

/* outros modos */
/* scren, print, speech, all */
@media print and (max-width: 600px) {

    h1 {
        color: green;
    }

}

/* todos os modos */
@media (max-width: 700px) {
    h2 {
        color: purple;
    }
}