/* exercicio 1 */
.background-highlight {
    background-color: yellow;
}

/* exercicio 2 */
h1 {
    background-color: lightblue;
}

.text-large {
    font-size: 24px;
}

/* exercicio 3 */
.hexa-color {
    color: #1515e0;
}

.bg-opacity {
    background-color: rgba(0, 0, 255, 0.5);
}

/* exercicio 4 */
.padding-example {
    padding: 20px;
    border: 1px solid red;
}

.width-height {
    margin: 15px;
    border: 1px solid blue;
    padding: 10px;
    width: 100px;
    height: 400px;
}

/* exercicio 5 */
.relative-container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}

.absolutely-positioned {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}