/* regra: valor (especifico,medida) */
p {
    color: black;
}

/* seletores basicos */
/* 
    seletores de tag => tag => especifidade 1
    seletores de classe => . => especifidade 2
    seletores de id => # => especifidade 3
*/
h4 {
    font-size: 25px;
}


/*

    classe = seletor mas especifico para muitos elementos
    id = seletor especifico para um elemento
*/
.titulo {
    color: purple;
    font-size: 40px;
}

#paragrafo-especial {
    font-style: italic;
    color: aqua;
}

/* 4 - propriedades de texto */
.basic-text {
    font-family: Arial;
    color: #47db93;
}

.styled-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.weight-text {
    font-weight: bold;
    font-size: 40px;
}

.fancy-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #84847a;
    text-align: center;
    text-transform: uppercase;
}

/* 5 - cores */
.hex-color {
    color: #ff6310;
}

.rgb-color {
    color: rgb(21, 113, 252);
}

.hsl-color {
    color: hsl(120, 40%, 80%);
}

.rgba-color {
    background-color: rgba(255, 70, 100, 0.5);
}

.hsla-color {
    background-color: hsla(120, 50%, 30%, 0.3);
}