/* regra: valor (especifico,medida) */
p {
    color: black;
}

/* seletores basicos */
/* 
    seletores de tag => tag => especifidade 1
    seletores de classe => . => especifidade 2
    seletores de id => # => especifidade 3
*/
h4 {
    font-size: 25px;
}


/*

    classe = seletor mas especifico para muitos elementos
    id = seletor especifico para um elemento
*/
.titulo {
    color: purple;
    font-size: 40px;
}

#paragrafo-especial {
    font-style: italic;
    color: aqua;
}

/* 4 - propriedades de texto */
.basic-text {
    font-family: Arial;
    color: #47db93;
}

.styled-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.weight-text {
    font-weight: bold;
    font-size: 40px;
}

.fancy-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #84847a;
    text-align: center;
    text-transform: uppercase;
}

/* 5 - cores */
/* 99% - cores em hex */
/* nome de cores = nunca */
/* 1% = rgba => a alpha opacidade */
.hex-color {
    /* 6 algarismos, precedidos por #, A-F 0-9 */
    /* F -> mas claro, 0 -> mais escuro */
    color: #ff6310;
}

.rgb-color {
    /* red, green, blue */
    color: rgb(21, 113, 252);
}

/* hue, saturation, lightness */
.hsl-color {
    color: hsl(120, 40%, 80%);
}

.rgba-color {
    /* 0 -> invisivel, 1 -> totalmente visivel */
    background-color: rgba(255, 70, 100, 0.5);
}

.hsla-color {
    background-color: hsla(120, 50%, 30%, 0.3);
}

/* 6 - estilizacao links */
.simple-link {
    text-decoration: none;
    color: #312333;
}

.fancy-link {
    text-decoration: line-through;
    font-style: italic;
}

.hover-link {
    text-decoration: none;
}

/* hover = evento de quando o usuario passa o mouse no elemento */
.hover-link:hover {
    text-decoration: underline;
    color: orange;
}

/* 100-900 => mas nem totodas as fontes tem todos */
/* valores diferentes, tendo o mesmo weight */
.bold-link {
    font-weight: 600;
}

/* 7 - box model */
.width-height {
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    background-color: #321;
}

/* espacamento interno, que pode ser adicionado aos 4 cantos */
.padding-exemple {
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}

/* margem = espacamento externo */
.margin-exemple {
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    margin: 30px;
}

/* shorthand = 1 todos, 2 valores superiores e laterais */
.complete-box {
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    padding: 50px 100px;
    margin: 10px 20px 30px 40px;
}

/* short-hand = 99% */
/* ordem: todos os lados, cima e laterais, especificos */

/* 8 - positions */
.static-example {
    position: static;
    background-color: #321;
    border: 1px solid #000;
}

.relative-example {
    position: relative;
    top: 40px;
    left: 50px;
    background-color: #333;
}

.absolute-example {
    position: absolute;
    background-color: #941;
    top: 10px;
    left: 250px;
}

.fixed-example {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #afafaf;
    order: 2px solid #000;
}

.sticky-example {
    position: static;
    top: 0;
    background-color: #adadad;
    border: 2px solid #000;
}

/* absolute precisa de uma pai relative */
.relative-container {
    margin-top: 300px;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
}

.absolute-inside-relative {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #941;
}