body {
    background-color: #DDD;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.box {
    height: 100px;
    flex: 1 1 300px;
    /* flex: <grow> <shrink> <basis> */
}

.first {
    background-color: red;
    flex: 2 1 300px;
    order: 3;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}