h1 {
    color: red;
}

p {
    color: green;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* este é um comentario */

.p-texto {
    color: lightgray;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* especificidade */
div p {
    color: red;
}

.p-dentro-da-div {
    color: blue;
}

#p-super-especifico {
    color: green;
}

/* cores */

.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
}

.div-background {
    background-image: url('img/aws.png');
    height: 300px;
}

h1 {
    text-align: center;
}

.titulo-background {
    text-align: center;
    background-color: #000000;
    color: azure;
}

/* fontes */

.family {
    color: #000;
    font-size: 40px;
}

.serif {
    font-family: "Times new roman";
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier new";
}

.italic {
    font-style: italic;
}

.obliquo {
    font-style: oblique;
}

body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    /* geral */
    /* padding: 20px; */
    /* especifico
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    */
    /* especifico agrupago */
    /* padding: 30px 20px 5px 10px; */
    /* especifico agrupado 3 medidas - top, right, left e bottom */
    /* padding: 30px 20px 5px; */
    /* especifico agrupado 2 medidas - top-bottom, right-left*/
    padding: 30px 20px;
    border: 3px solid blue;
    border-width: 5px 10px 2px 10px;
    border-width: 20px 10px;
    border-radius: 15px;
    margin: 50px;
    margin: 5px 10px 10px 7px;
    margin: 100px;
    /* display: none; */
    display: inline-block;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}

/* positions - static , relative, fixed, absolute e sti */

.div-position {
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 2px dotted black;
}

.static {
    position: static;
}

.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}

.absolute {
    position: absolute;
    background-color: purple;
    right: 0;
    top: 0;
}