h1 {
    color: red;
}

p {
    color: green;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* este é um comentario */

.p-texto {
    color: lightgray;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}