h1 {
    color: red;
}

p {
    color: green;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* este é um comentario */

.p-texto {
    color: lightgray;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* especificidade */
div p {
    color: red;
}

.p-dentro-da-div {
    color: blue;
}

#p-super-especifico {
    color: green;
}

/* cores */

.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
}

.div-background {
    background-image: url('img/aws.png');
    height: 300px;
}

h1 {
    text-align: center;
}

.titulo-background {
    text-align: center;
    background-color: #000000;
    color: azure;
}

/* fontes */

.family {
    color: #000;

}

.serif {
    font-family: "Times new roman";
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier new";
}